body{
  min-height: 100vh;
  width: 100%;
  background-color: #242d34;
  display: flex;
}
#root{
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.square{
  background-color: black;
  margin: auto;
  width: 350px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: column;
}
#logo{
  height: 50px;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.square form{
  display: flex;
  flex-direction: column;
}
.square input{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80%;
  height: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 18px;
}
.botoes{
  width: 100%;
  height: 3rem;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}
.botoes button{
  width: 38%;
  height: 2.2rem;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
#login{
  margin-left: auto;
  margin-right: 10px;
}
#register{
  margin-right: auto;
  margin-left: 10px;
  background-color: rgb(0, 252, 0);
}
#register:hover{
  background-color: transparent;
  color: rgb(0, 252, 0);
  border: 2px solid rgb(0, 252, 0);
}
#login:hover{
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
#loading-spinner{
  animation: loading-spinner 1s linear infinite;
}
  

@keyframes loading-spinner{
  from{
    transform: rotate(0deg)
  }
    
  to{
    transform: rotate(360deg)
  }
}
.teste{
  background-color: red;
  
}